<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="deleteWaterBillModal{{bill.id}}" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Delete Water Bill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="tenantForm" method="POST" action="{% url 'delete-water-bill' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="bill_id" id="bill_id" value="{{bill.id}}" readonly hidden>
                    <div class="row mb-2">
                        <p>Are you sure you want to delete water bill for unit: <b>{{bill.unit.name}}</b>?</p>
                   </div>
                    
                <div class="text-center mb-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>