<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="editWaterBillModal{{bill.id}}" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Edit Water Bill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="tenantForm" method="POST" action="{% url 'edit-water-bill' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="water_bill_id" id="water_bill_id" value="{{bill.id}}" readonly hidden>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="name" class="form-label fw-bold">Unit</label>
                        <select class="form-select" id="unit" name="unit">
                            <option value="{{bill.unit.id}}" selected>{{bill.unit.name}}</option>
                            {% for unit in units %}
                                {% if unit.id != bill.unit.id %}
                                    <option value="{{unit.id}}">{{unit.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        </div>
                        <div class="col">
                            <label for="reading_date" class="form-label fw-bold">Reading Date</label>
                            <input type="date" class="form-control" id="reading_date" name="reading_date" value="{{bill.reading_date | date:'Y-m-d'}}" />
                        </div>
                        
                    </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label fw-bold">Month</label>
                        <select class="form-select" id="month" name="month">
                            <option value="{{bill.month.name}}" selected>{{bill.month.name}}</option>
                            {% for month in months %}
                                {% if month != bill.month.name %}
                                    <option value="{{month}}">{{month}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="rent" class="form-label fw-bold">Year</label>
                        <select class="form-select" id="year" name="year">
                            <option value="{{bill.year.id}}" selected>{{bill.year.name}}</option>
                            {% for year in years %}
                                {% if year.id != bill.year.id %}
                                    <option value="{{year.id}}">{{year.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label for="units_consumed" class="form-label fw-bold">Units Consumed</label>
                        <input type="number" class="form-control" id="units_consumed" name="units_consumed" value="{{bill.units_consumed}}" step="0.0000" required/>
                    </div>
                    <!--
                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Unpaid Balanaces</label>
                        <input type="number" class="form-control" id="previous_balance" name="previous_balance" value="{{bill.previous_balance}}" step="0.01" />
                    </div>
                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Previous Reading</label>
                        <input type="number" class="form-control" id="previous_reading" name="previous_reading" value="{{bill.previous_reading}}" step="0.01" required/>
                    </div>
                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Current Reading</label>
                        <input type="number" class="form-control" id="current_reading" name="current_reading" value="{{bill.current_reading}}" step="0.01" required/>
                    </div>
                    -->
                </div>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary">Save Water Bill</button>
                </div>
            </form>
        </div>
    </div>
</div>