<div class="modal fade" id="generateUnitBillsModal" tabindex="-1" aria-labelledby="generateUnitBillsLabel{{ bill.id }}" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="generateUnitBillsLabel">
                    <i class="fa-solid fa-droplet text-primary"></i> Generate Unit Bills
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="generateUnitBillsForm" method="POST" action="{% url 'generate-temporary-month-bill' %}">
                <div class="modal-body">
                    {% csrf_token %}    
                    <div class="mb-3">
                        <label for="month{{ bill.id }}" class="form-label">Select Month</label>
                        <select name="month" id="month" class="form-select" required>
                            <option value="">-- Select Month --</option>
                            {% for m in months %}
                                <option value="{{ m }}">{{ m }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fa-solid fa-times"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-save"></i> Generate Bills
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
