<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="newWaterBillModal" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Add Water Bill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="tenantForm" method="POST" action="{% url 'new-water-bill' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Unit</label>
                        <select class="form-select" id="unit" name="unit">
                            <option value="" selected>Choose...</option>
                            {% for unit in units %}
                                <option value="{{unit.id}}">{{unit.name}}({{unit.property}})</option>
                            {% endfor %}
                        </select>
                    </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label fw-bold">Month</label>
                        <select class="form-select" id="month" name="month">
                            <option value="" selected>Choose...</option>
                            {% for month in months %}
                                <option value="{{month}}">{{month}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="rent" class="form-label fw-bold">Year</label>
                        <select class="form-select" id="year" name="year">
                            <option value="" selected>Choose...</option>
                            {% for year in years %}
                                <option value="{{year}}">{{year}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                    <div class="mb-2">
                        <label for="unit" class="form-label fw-bold">Units</label>
                        <input type="number" class="form-control" id="units" name="units" required/>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary">Save Water Bill</button>
                </div>
            </form>
        </div>
    </div>
</div>