<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="collectSecurityDepositPaymentModal{{security_deposit.id}}" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Collect Security Deposit Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="tenantForm" method="POST" action="{% url 'pay-security-deposit' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="security_deposit_id" id="security_deposit_id" value="{{security_deposit.id}}" readonly hidden>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="unit" class="form-label fw-bold">Amount Paying</label>
                            <input type="number" class="form-control" id="amount_paid" name="amount_paid" value="{{security_deposit.balance}}" min="0" max="{{security_deposit.balance}}" step="0.01" value="0.00">
                        </div>
                        <div class="col">
                            <label for="unit" class="form-label fw-bold">MPESA Reference/CODE</label>
                            <input type="text" class="form-control" id="reference_number" name="reference_number">
                        </div>
                    </div>
                    
                <div class="row mb-3">
                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Payment Method</label>
                        <select class="form-select" id="payment_method" name="payment_method">
                            <option value="" selected>Choose...</option>
                            <option value="Cash">Cash</option>
                            <option value="M-Pesa">M-Pesa</option>
                            <option value="Bank Transfer">Bank Transfer</option>
                            <option value="Bank Deposit">Bank Deposit</option>
                            <option value="Cheque">Cheque</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Payment Date</label>
                        <input type="date" class="form-control" id="payment_date" name="payment_date">
                    </div>
                </div>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary">Collect Payment</button>
                </div>
                
            </form>

        </div>
    </div>
</div>