<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="approveListingModal{{listing.id}}" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Approve Listing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="tenantForm" method="POST" action="{% url 'approve-listing' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="listing_id" id="listing_id" value="{{listing.id}}" readonly hidden>
                    <div class="row mb-2">
                        <p>Are you sure you want to approve this listing: <b>{{listing.property_name}}</b>?</p>
                   </div>
                    
                <div class="text-center mb-2">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Yes, Approve</button>
                </div>
            </form>
        </div>
    </div>
</div>