<div class="modal fade" id="newListingModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="#">
                    {% csrf_token %}
                    <input type="number" name="property_id" id="property_id" value="{{property.id}}" readonly hidden>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Unit Number</label>
                            <input type="text" class="form-control" name="unit_number" id="unit_number" required>
                        </div>
                        <div class="col">
                            <label class="form-label">Unit Type</label>
                            <select class="form-select" name="unit_type" id="unit_type" required>
                                <option value="">Select type...</option>
                                {% for unit_type in unit_types %}
                                    <option value="{{unit_type}}">{{unit_type}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Floor</label>
                                <input type="text" class="form-control" name="floor" id="floor" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Size (sq ft)</label>
                                <input type="number" class="form-control" name="size" id="size" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label">Monthly Rent</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" name="rent" id="rent" required>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Security Deposit</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="number" class="form-control" name="security_deposit" id="security_deposit" required>
                            </div>
                        </div>
                        <div class="col">
                            <label class="form-label">Status</label>
                            <select class="form-select" name="status" id="status" required>
                                <option value="">Select status...</option>
                                {% for status in unit_statuses %}
                                    <option value="{{status}}">{{status}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="text-center mt-2 mb-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Unit</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>