<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="editExpenseModal{{expense.id}}" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Edit New Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="tenantForm" method="POST" action="{% url 'edit-expense' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="expense_id" id="expense_id" value="{{expense.id}}" readonly hidden>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="title" class="form-label fw-bold">Expense Name</label>
                            <input type="text" class="form-control" id="title" name="title" value="{{expense.title}}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="property" class="form-label fw-bold">Property</label>
                            <select class="form-select" id="property" name="property">
                                <option value="" selected>Choose...</option>
                                {% for property in properties %}
                                    <option value="{{ property.id }}">{{ property.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="unit" class="form-label fw-bold">Unit</label>
                            <select class="form-select select2" id="unit" name="unit">
                                <option value="" selected>Choose...</option>
                                {% for unit in units %}
                                    <option value="{{ unit.id }}">{{ unit.name }}(<b>{{unit.property.name}}</b>)</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="contact" class="form-label fw-bold">Expense Type</label>
                            <select class="form-select" id="expense_type" name="expense_type">
                                <option value="{{expense.expense_type}}" selected>{{expense.expense_type}}</option>
                                {% for expense_type in expense_types %}
                                    {% if expense_type != expense.expense_type %}
                                        <option value="{{expense_type}}">{{expense_type}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="amount" class="form-label fw-bold">Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount" value="{{expense.amount}}" required>
                        </div>
                        <div class="col">
                            <label for="id_number" class="form-label fw-bold">Spend On</label>
                            <input type="date" class="form-control" id="spend_on" name="spend_on" value="{{expense.spend_on | date:'Y-m-d'}}" required>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col">
                            <label for="move_in_date" class="form-label fw-bold">Description</label>
                            <textarea class="form-control" id="description" name="description">{{expense.description}}</textarea>
                        </div>
                    </div>
                   
                </div>
                <div class="text-center mb-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Expense</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#unit').select2({
            theme: 'bootstrap-5',
            width: '100%',
            dropdownParent: $('#newWaterBillModal{{expense.id}}'),
            placeholder: 'Choose...',
            allowClear: true
        });
    });
</script>