<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="editPropertyModal{{property.id}}" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Add New Property</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="tenantForm" method="POST" action="{% url 'edit-property' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="property_id" id="property_id" value="{{property.id}}" readonly hidden>
                    <div class="row mb-3">
                    <div class="col">
                        <label for="name" class="form-label fw-bold">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{property.name}}" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="unit" class="form-label fw-bold">Units</label>
                        <input type="number" class="form-control" id="units" name="units" value="{{property.units}}" required>
                    </div>  
                    <div class="col-md-6">
                        <label for="garbage_charge" class="form-label fw-bold">Garbage Charge</label>
                        <input type="number" class="form-control" id="garbage_charge" name="garbage_charge" value="{{property.garbage_charge}}" required>
                    </div>
                </div>
                    
                <div class="mb-3">
                    <label for="move_in_date" class="form-label fw-bold">Address/Location</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{property.address}}" required>
                </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="move_in_date" class="form-label fw-bold">City</label>
                            <input type="text" class="form-control" id="city" name="city" value="{{property.city}}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="rent" class="form-label fw-bold">Country</label>
                            <input type="text" class="form-control" id="country" name="country" value="{{property.country}}" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="name" class="form-label fw-bold">Manager Name</label>
                            <input type="text" class="form-control" id="manager_name" name="manager_name" value="{{property.manager_name}}">
                        </div>
                        <div class="col">
                            <label for="contact" class="form-label fw-bold">Manager Contact</label>
                            <input type="tel" class="form-control" id="manager_phone" name="manager_phone" value="{{property.manager_phone_number}}">
                        </div>
                        <div class="col">
                            <label for="gender" class="form-label fw-bold">Gender</label>
                            <select class="form-select" id="manager_gender" name="manager_gender">
                                <option value="{{property.manager_gender}}" selected>{{property.manager_gender}}</option>
                                {% for gender in gender_choices %}
                                    {% if gender != property.manager_gender %}
                                        <option value="{{gender}}">{{gender}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Edit Property</button>
                </div>
            </form>
        </div>
    </div>
</div>