<nav id="sidebar" class="vh-100 overflow-auto">
    <div class="sidebar-header d-flex align-items-center position-sticky top-0 bg-primary p-3">
        <!--
        <img src="#" alt="REMS Logo" class="sidebar-logo me-2" width="30">
        -->
        <span class="nav-label text-white fw-bold">RentWise</span>
    </div>

    <ul class="list-unstyled components p-3">
        <li class="mb-2">
            <a href="{% url 'home' %}" class="d-flex align-items-center text-decoration-none py-2 px-3 rounded-3 {% if request.path == '/' %}active{% endif %}">
                <i class="fas fa-tachometer-alt me-3"></i>
                <span class="nav-label">Dashboard</span>
            </a>
        </li>
        
        <li class="mb-2">
            <a href="{% url 'units' %}" class="d-flex align-items-center text-decoration-none py-2 px-3 rounded-3 {% if 'tenants' in request.path %}active{% endif %}">
                <i class="fas fa-building me-3"></i>
                <span class="nav-label">Rental Units</span>
            </a>
        </li>

        <li class="mb-2">
            <a href="{% url 'tenants' %}" class="d-flex align-items-center text-decoration-none py-2 px-3 rounded-3 {% if 'tenants' in request.path %}active{% endif %}">
                <i class="fas fa-user-friends me-3"></i>
                <span class="nav-label">Tenants</span>
            </a>
        </li>

        <li class="mb-2">
            <a href="{% url 'maintenance-requests' %}" class="d-flex align-items-center text-decoration-none py-2 px-3 rounded-3 {% if 'tenants' in request.path %}active{% endif %}">
                <i class="fas fa-tools me-3"></i>
                <span class="nav-label">Maintenance Requests</span>
            </a>
        </li>
        
      

        <li class="mb-2">
            <a href="{% url 'water-bills' %}" class="d-flex align-items-center text-decoration-none py-2 px-3 rounded-3 {% if 'expenses' in request.path %}active{% endif %}">
                <i class="fas fa-tint me-3"></i>
                <span class="nav-label">Water Bills</span>
            </a>
        </li>

        <li class="mb-2">
            <a href="{% url 'pending-bills' %}" class="d-flex align-items-center text-decoration-none py-2 px-3 rounded-3 {% if 'expenses' in request.path %}active{% endif %}">
                <i class="bi bi-cash-stack me-3"></i>
                <span class="nav-label">Pending Bills</span>
            </a>
        </li>
        <!--
        <li class="mb-2">
            <a href="#" class="d-flex align-items-center text-decoration-none py-2 px-3 rounded-3 {% if 'expenses' in request.path %}active{% endif %}">
                <i class="fas fa-bell me-3"></i>
                <span class="nav-label">Notices</span>
            </a>
        </li>
        -->
    </ul>
</nav>