<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="payRentBillModal{{rent_bill.id}}" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Record Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="tenantForm" method="POST" action="{% url 'pay-rent-bill' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="rent_bill_id" id="rent_bill_id" value="{{rent_bill.id}}" readonly hidden>
              
                <div class="row mb-3">
                    <div class="col">
                        <label for="payment_method" class="form-label fw-bold">Payment Method</label>
                        <select name="payment_method" id="payment_method" class="form-select">
                            <option value="">Select Payment Method</option>
                            {% for method in payment_methods %}
                                <option value="{{method}}">{{method}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label for="payment_date" class="form-label fw-bold">Payment Date</label>
                        <input type="date" class="form-control" id="payment_date" name="payment_date" required/>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Amount Paid</label>
                        <input type="number" class="form-control" id="amount_paid" name="amount_paid" step="0.01" min="0" max="{{rent_bill.balance}}" placeholder="Type amount to pay" required/>
                    </div>
                </div>
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary">Record Payment</button>
                </div>
               
            </form>
        </div>
    </div>
</div>