{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="col">
            <h5 class="mb-0">Water Bills Payments</h5>
        </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Search..." 
                id="searchInput" value="{{ search_query }}">
            </div>
           
        </div>
    </div>
    
    <div class="card-body">
        <div class="loader" id="loader"></div>
        <table id="tenantsTable" class="table table-sm table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tenant</th>
                    <th>House No.</th>
                    <th>Month</th>
                    <th>Amount Paid</th>
                    <th>Date Paid</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for payment in water_bill_payments %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{payment.water_bill.unit.tenant.user.name}}</td>
                    <td>{{payment.water_bill.unit.name}}</td>
                    <td>{{payment.water_bill.month}}(<b>{{payment.water_bill.year}}</b>)</td>
                    <td>{{payment.amount_paid}}</td>
                    <td>{{payment.created_at}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% block additional_scripts %}

{% endblock additional_scripts %}