<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="newGarbageBillModal" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Generate Garbage Bills</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'generate-garbage-bills' %}">
                <div class="modal-body" >
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col">
                            <label for="name" class="form-label fw-bold">Property</label>
                        <select class="form-select select2" id="property" name="property">
                            <option value="" selected>Choose...</option>
                            {% for property in properties %}
                                <option value="{{property.id}}">{{property.name}}</option>
                            {% endfor %}
                        </select>
                        </div>
                    
                    </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label fw-bold">Month</label>
                        <select class="form-select" id="month" name="month">
                            <option value="" selected>Choose...</option>
                            {% for month in months %}
                                <option value="{{month}}">{{month}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="rent" class="form-label fw-bold">Year</label>
                        <select class="form-select" id="year" name="year">
                            <option value="" selected>Choose...</option>
                            {% for year in years %}
                                <option value="{{year.id}}">{{year.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Date Due</label>
                        <input type="date" class="form-control" id="date_due" name="date_due" />
                    </div>
                </div>
                    
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary">Generate Garbage Bills</button>
                </div>
            </form>
        </div>

    </div>
</div>