<div class="modal fade" id="assignTenantModal{{unit.id}}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assign Tenant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'assign-tenant' %}">
                    {% csrf_token %}
                    <input type="number" name="unit_id" id="unit_id" value="{{unit.id}}" readonly hidden>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label fw-bold">Tenant</label>
                            <select class="form-select" name="tenant" id="tenant" required>
                                <option value="">Select Tenant</option>
                                {% for tenant in tenants %}
                                    <option value="{{tenant.id}}">{{tenant.user.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    </div>
                    <div class="text-center mt-2 mb-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Assign Tenant</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>