<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="collectUnitBillPaymentModal{{unit_bill.id}}" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Collect Unit Bill Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="tenantForm" method="POST" action="{% url 'collect-unit-bill-payment' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="unit_bill_id" id="unit_bill_id" value="{{unit_bill.id}}" readonly hidden>
                    {% if not unit_bill.rent_fully_paid %}
                    <div class="row">
                        <div class="col">
                            <p class="fw-bold">Rent Amount</p>
                            <p class="text-muted">Balance: {{unit_bill.rent_balance}}</p>
                        </div>  
                        
                        <div class="col">
                            <label for="unit" class="form-label fw-bold">Amount Paying</label>
                            <input type="number" class="form-control" id="rent_amount" name="rent_amount" max="{{unit_bill.rent_balance}}" min="0" step="0.01" value="0.00">
                        </div>
                    </div>
                    <hr/>
                    {% endif %}
                    {% if not unit_bill.water_fully_paid %}
                    <div class="row">
                        <div class="col">
                            <p class="fw-bold">Water Amount</p>
                            <p class="text-muted">Balance: {{unit_bill.water_balance}}</p>
                        </div>
                        
                        <div class="col">
                            <label for="unit" class="form-label fw-bold">Amount Paying</label>
                            <input type="number" class="form-control" id="water_amount" name="water_amount" max="{{unit_bill.water_balance}}" min="0" step="0.01" value="0.00">
                        </div>
                    </div>
                    <hr/>
                    {% endif %}
                    {% if not unit_bill.garbage_fully_paid %}
                    <div class="row">

                        <div class="col">
                            <p class="fw-bold">Garbage Amount</p>
                            <p class="text-muted">Balance: {{unit_bill.garbage_balance}}</p>
                        </div>
                        
                        <div class="col">   
                            <label for="unit" class="form-label fw-bold">Amount Paying</label>
                            <input type="number" class="form-control" id="garbage_amount" name="garbage_amount" max="{{unit_bill.garbage_balance}}" min="0" step="0.01" value="0.00">
                        </div>
                    </div>
                    {% endif %}
                <div class="row mb-3">

                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Payment Method</label>
                        <select class="form-select" id="payment_method" name="payment_method">
                            <option value="" selected>Choose...</option>
                            <option value="Cash">Cash</option>
                            <option value="M-Pesa">M-Pesa</option>
                            <option value="Bank Transfer">Bank Transfer</option>
                            <option value="Bank Deposit">Bank Deposit</option>
                            <option value="Cheque">Cheque</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="unit" class="form-label fw-bold">Payment Date</label>
                        <input type="date" class="form-control" id="payment_date" name="payment_date">
                    </div>
                </div>
                </div>
                <div class="text-center mb-3">

                    <button type="submit" class="btn btn-primary">Collect Payment</button>
                </div>
                
            </form>

        </div>
    </div>
</div>