<!-- Add this modal HTML after the table in your template -->
<div class="modal fade" id="changePasswordModal{{user.id}}" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tenantModalLabel">Change User Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="tenantForm" method="POST" action="#">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" name="user_id" id="user_id" value="{{user.id}}" readonly hidden>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="first_name" class="form-label fw-bold">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="col">
                            <label for="last_name" class="form-label fw-bold">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save New Password</button>
                </div>
            </form>
        </div>
    </div>
</div>